In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors

import sqlite3

from IPython.display import display, HTML

#REferences: https://towardsdatascience.com/data-handling-using-pandas-cleaning-and-processing-3aa657dc9418
#Dataset: https://www.kaggle.com/hugomathien/soccer?

In [131]:
with sqlite3.connect('database.sqlite') as con:
    countries = pd.read_sql_query("SELECT * from Country", con)
    matches = pd.read_sql_query("SELECT * from Match", con)
    leagues = pd.read_sql_query("SELECT * from League", con)
    teams = pd.read_sql_query("SELECT * from Team", con)
    player = pd.read_sql_query("SELECT * from Player",con)
    player_attributes = pd.read_sql_query("SELECT * from Player_Attributes",con)
    sequence = pd.read_sql_query("SELECT * from sqlite_sequence",con)
    team_attributes = pd.read_sql_query("SELECT * from Team_Attributes",con)

In [177]:
df = player_attributes
df.head(5)
print(len(df))

183978

## Remove unecessary columns

In [178]:
df = df.drop(columns = ['id', 'player_api_id', 'date'])

## Data overview

In [179]:
#missing Values
print(df.isna().sum())

df_rows_with_na = df[df.isna().any(axis=1)]
print("percentage of rows with missing data is ", len(df_rows_with_na)*100//len(df), "%" )

display(df[df["volleys"].isna()])

player_fifa_api_id        0
overall_rating          836
potential               836
preferred_foot          836
attacking_work_rate    3230
defensive_work_rate     836
crossing                836
finishing               836
heading_accuracy        836
short_passing           836
volleys                2713
dribbling               836
curve                  2713
free_kick_accuracy      836
long_passing            836
ball_control            836
acceleration            836
sprint_speed            836
agility                2713
reactions               836
balance                2713
shot_power              836
jumping                2713
stamina                 836
strength                836
long_shots              836
aggression              836
interceptions           836
positioning             836
vision                 2713
penalties               836
marking                 836
standing_tackle         836
sliding_tackle         2713
gk_diving               836
gk_handling             836
gk_kicking              836
gk_positioning          836
gk_reflexes             836
dtype: int64
percentage of rows with missing data is  1 %

,player_fifa_api_id,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
446,52782,68.0,70.0,right,None,_0,60.0,50.0,60.0,74.0,...,NaN,47.0,52.0,50.0,NaN,7.0,20.0,62.0,20.0,20.0
447,52782,68.0,70.0,right,None,_0,60.0,50.0,60.0,74.0,...,NaN,47.0,52.0,50.0,NaN,7.0,20.0,62.0,20.0,20.0
448,52782,68.0,69.0,right,None,_0,60.0,50.0,60.0,74.0,...,NaN,47.0,52.0,50.0,NaN,7.0,20.0,62.0,20.0,20.0
449,52782,70.0,69.0,right,None,_0,60.0,50.0,60.0,74.0,...,NaN,47.0,52.0,50.0,NaN,7.0,20.0,62.0,20.0,20.0
450,52782,70.0,69.0,right,None,_0,60.0,50.0,70.0,74.0,...,NaN,47.0,72.0,70.0,NaN,7.0,7.0,62.0,12.0,5.0
478,33022,73.0,76.0,right,None,_0,56.0,34.0,70.0,70.0,...,NaN,68.0,76.0,75.0,NaN,5.0,23.0,71.0,23.0,23.0
479,33022,77.0,79.0,right,None,_0,68.0,34.0,80.0,72.0,...,NaN,69.0,83.0,78.0,NaN,5.0,23.0,76.0,23.0,23.0
480,33022,77.0,80.0,right,None,_0,68.0,34.0,80.0,72.0,...,NaN,69.0,83.0,78.0,NaN,5.0,23.0,76.0,23.0,23.0
481,33022,78.0,79.0,right,None,_0,72.0,34.0,80.0,72.0,...,NaN,69.0,80.0,76.0,NaN,5.0,23.0,76.0,23.0,23.0
482,33022,78.0,79.0,right,None,_0,72.0,34.0,80.0,72.0,...,NaN,69.0,80.0,76.0,NaN,5.0,10.0,76.0,10.0,7.0
483,33022,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484,177295,61.0,65.0,right,None,_0,42.0,60.0,54.0,52.0,...,NaN,66.0,22.0,27.0,NaN,7.0,20.0,35.0,20.0,20.0
485,177295,56.0,65.0,right,None,_0,42.0,50.0,39.0,57.0,...,NaN,47.0,22.0,27.0,NaN,7.0,20.0,35.0,20.0,20.0
486,177295,66.0,76.0,right,None,_0,42.0,74.0,39.0,57.0,...,NaN,47.0,22.0,27.0,NaN,7.0,20.0,35.0,20.0,20.0
487,177295,66.0,76.0,right,None,_0,42.0,74.0,39.0,57.0,...,NaN,47.0,22.0,27.0,NaN,7.0,20.0,35.0,20.0,20.0
488,177295,72.0,76.0,right,None,_0,42.0,74.0,39.0,57.0,...,NaN,47.0,22.0,27.0,NaN,7.0,20.0,35.0,20.0,20.0
489,177295,59.0,70.0,right,None,_0,42.0,65.0,39.0,57.0,...,NaN,47.0,22.0,27.0,NaN,7.0,6.0,35.0,7.0,4.0
983,111085,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1303,140730,59.0,62.0,right,None,_0,59.0,57.0,62.0,58.0,...,NaN,47.0,23.0,27.0,NaN,12.0,23.0,38.0,23.0,23.0
1304,140730,60.0,63.0,right,None,_0,60.0,58.0,63.0,59.0,...,NaN,48.0,23.0,28.0,NaN,12.0,23.0,39.0,23.0,23.0
1305,140730,60.0,63.0,right,None,_0,60.0,58.0,63.0,59.0,...,NaN,48.0,23.0,28.0,NaN,12.0,23.0,39.0,23.0,23.0
1323,4769,73.0,74.0,left,None,_0,68.0,75.0,65.0,72.0,...,NaN,72.0,21.0,52.0,NaN,9.0,22.0,66.0,22.0,22.0
1324,4769,71.0,74.0,left,None,_0,68.0,69.0,60.0,72.0,...,NaN,72.0,21.0,52.0,NaN,9.0,22.0,66.0,22.0,22.0
1325,4769,71.0,74.0,left,None,_0,48.0,72.0,62.0,72.0,...,NaN,68.0,21.0,52.0,NaN,9.0,22.0,61.0,22.0,22.0
1326,4769,72.0,74.0,left,None,_0,48.0,77.0,62.0,58.0,...,NaN,53.0,21.0,54.0,NaN,9.0,22.0,42.0,22.0,22.0
1327,4769,72.0,74.0,left,None,_0,48.0,77.0,62.0,58.0,...,NaN,53.0,21.0,54.0,NaN,9.0,22.0,42.0,22.0,22.0
1328,4769,72.0,74.0,left,None,_0,48.0,77.0,62.0,58.0,...,NaN,53.0,21.0,54.0,NaN,9.0,5.0,42.0,14.0,15.0
1752,165740,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2089,176941,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2482,177615,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182076,53039,64.0,65.0,right,None,_0,38.0,39.0,74.0,55.0,...,NaN,70.0,62.0,64.0,NaN,11.0,21.0,60.0,21.0,21.0
182077,53039,64.0,65.0,right,None,_0,38.0,39.0,74.0,55.0,...,NaN,70.0,62.0,64.0,NaN,11.0,21.0,60.0,21.0,21.0
182078,53039,65.0,66.0,right,None,_0,39.0,40.0,75.0,56.0,...,NaN,71.0,63.0,65.0,NaN,11.0,15.0,61.0,5.0,10.0
182208,50888,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182324,140201,71.0,77.0,right,None,_0,72.0,69.0,55.0,73.0,...,NaN,66.0,23.0,23.0,NaN,12.0,23.0,65.0,23.0,23.0
182325,140201,71.0,77.0,right,None,_0,72.0,69.0,55.0,73.0,...,NaN,66.0,23.0,23.0,NaN,12.0,23.0,65.0,23.0,23.0
182587,116368,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182757,53408,63.0,69.0,left,None,_0,61.0,57.0,74.0,59.0,...,NaN,50.0,33.0,35.0,NaN,15.0,21.0,63.0,21.0,21.0
182758,53408,63.0,72.0,left,None,_0,61.0,57.0,74.0,59.0,...,NaN,50.0,33.0,35.0,NaN,15.0,21.0,63.0,21.0,21.0
182759,53408,65.0,72.0,left,None,_0,65.0,67.0,62.0,64.0,...,NaN,61.0,30.0,30.0,NaN,15.0,21.0,60.0,21.0,21.0
182760,53408,65.0,72.0,left,None,_0,65.0,67.0,62.0,64.0,...,NaN,61.0,30.0,30.0,NaN,15.0,21.0,60.0,21.0,21.0
183249,139865,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183309,141272,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183361,168650,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183444,139083,70.0,73.0,right,None,3,71.0,68.0,54.0,73.0,...,NaN,74.0,41.0,36.0,NaN,8.0,23.0,68.0,23.0,23.0
183445,139083,72.0,74.0,right,None,3,72.0,69.0,51.0,74.0,...,NaN,74.0,41.0,36.0,NaN,8.0,23.0,68.0,23.0,23.0
183446,139083,73.0,75.0,right,None,3,73.0,68.0,51.0,74.0,...,NaN,76.0,41.0,36.0,NaN,8.0,23.0,67.0,23.0,23.0
183447,139083,74.0,75.0,right,None,3,73.0,68.0,51.0,74.0,...,NaN,76.0,41.0,36.0,NaN,8.0,23.0,67.0,23.0,23.0
183448,139083,74.0,75.0,right,None,3,73.0,68.0,51.0,74.0,...,NaN,76.0,41.0,36.0,NaN,8.0,23.0,67.0,23.0,23.0
183449,139083,73.0,77.0,right,None,3,73.0,68.0,51.0,72.0,...,NaN,64.0,41.0,36.0,NaN,8.0,6.0,65.0,10.0,9.0
183487,28765,NaN,NaN,None,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183488,177901,58.0,64.0,right,None,_0,38.0,59.0,59.0,61.0,...,NaN,66.0,51.0,52.0,NaN,10.0,20.0,48.0,20.0,20.0
183489,177901,61.0,65.0,right,None,_0,39.0,60.0,60.0,62.0,...,NaN,67.0,52.0,53.0,NaN,10.0,20.0,49.0,20.0,20.0
183490,177901,61.0,65.0,right,None,_0,39.0,60.0,60.0,62.0,...,NaN,67.0,52.0,53.0,NaN,10.0,20.0,49.0,20.0,20.0
183491,177901,64.0,65.0,right,None,_0,41.0,62.0,62.0,64.0,...,NaN,69.0,54.0,55.0,NaN,10.0,20.0,51.0,20.0,20.0
183492,177901,64.0,65.0,right,None,_0,41.0,62.0,62.0,64.0,...,NaN,69.0,54.0,55.0,NaN,10.0,20.0,51.0,20.0,20.0
183535,51883,73.0,81.0,right,None,o,20.0,20.0,28.0,32.0,...,NaN,70.0,20.0,20.0,NaN,75.0,73.0,71.0,73.0,75.0
183536,51883,77.0,81.0,right,None,o,20.0,20.0,28.0,32.0,...,NaN,70.0,20.0,20.0,NaN,82.0,75.0,78.0,73.0,78.0
183537,51883,70.0,80.0,right,None,o,40.0,38.0,48.0,48.0,...,NaN,56.0,22.0,51.0,NaN,74.0,70.0,73.0,72.0,71.0
183538,51883,70.0,80.0,right,None,o,40.0,38.0,48.0,48.0,...,NaN,56.0,22.0,51.0,NaN,74.0,70.0,73.0,72.0,71.0

## Wrong Data Values

### Categorial Variables

In [180]:
# Print all unique values
categorial_columns = ['preferred_foot', 'attacking_work_rate', 'defensive_work_rate']
for c in categorial_columns:
    print(c, df[c].unique())
    
# Come up with a set of possible values
pos_values_preferred_foot = ['right', 'left']
pos_values_attacking_work =['medium', 'high', 'low']
pos_values_defensive_work = ['medium', 'high', 'low']

preferred_foot ['right' 'left' None]
attacking_work_rate ['medium' 'high' None 'low' 'None' 'le' 'norm' 'stoc' 'y']
defensive_work_rate ['medium' 'high' 'low' '_0' None '5' 'ean' 'o' '1' 'ormal' '7' '2' '8' '4'
 'tocky' '0' '3' '6' '9' 'es']

In [181]:
# Note: there are None and "None" values
def analysePossValues(df, cat_name, pos_values):
    
    valid_rows = df.loc[df[cat_name].isin(pos_values)]
    invalid_rows = df.loc[df[cat_name].isin(pos_values) == False]
    print("percentage of invalid rows is", len(invalid_rows)*100//len(df), "%")
    
    #check distribution
    valid_rows[cat_name].value_counts().plot(kind='bar')

def subWithMode(df, cat_name, pos_values):
    print('values before change\n', df[cat_name].value_counts())
    
    valid_rows = df.loc[df[cat_name].isin(pos_values)]
    value_counts = valid_rows[cat_name].value_counts()
    mode_label = value_counts.idxmax()
    print('mode label is', mode_label)
    
    df.loc[df[cat_name].isin(pos_values) == False, cat_name] = mode_label
    print('values after change\n', df[cat_name].value_counts())
    return df

In [182]:
df = subWithMode(df,'preferred_foot' , pos_values_preferred_foot)
df = subWithMode(df,'attacking_work_rate' , pos_values_attacking_work)
df = subWithMode(df,'defensive_work_rate' , pos_values_defensive_work)
print(df['defensive_work_rate'].value_counts())

values before change
 right    138409
left      44733
Name: preferred_foot, dtype: int64
mode label is right
values after change
 right    139245
left      44733
Name: preferred_foot, dtype: int64
values before change
 medium    125070
high       42823
low         8569
None        3639
norm         348
y            106
le           104
stoc          89
Name: attacking_work_rate, dtype: int64
mode label is medium
values after change
 medium    132586
high       42823
low         8569
Name: attacking_work_rate, dtype: int64
values before change
 medium    130846
high       27041
low        18432
_0          2394
o           1550
1            441
ormal        348
2            342
3            258
5            234
7            217
6            197
0            197
9            152
4            116
es           106
ean          104
tocky         89
8             78
Name: defensive_work_rate, dtype: int64
mode label is medium
values after change
 medium    138505
high       27041
low        18432
Name: defensive_work_rate, dtype: int64
medium    138505
high       27041
low        18432
Name: defensive_work_rate, dtype: int64

### Numerical Variables

In [183]:
# Check if all are float
id_column = "player_fifa_api_id"
numerical_columns = list(set(df.columns) - set(categorial_columns) - set([id_column]))
print(df[numerical_columns].dtypes)
display(df[numerical_columns].head(3))

balance               float64
acceleration          float64
reactions             float64
strength              float64
gk_kicking            float64
gk_reflexes           float64
sliding_tackle        float64
ball_control          float64
gk_diving             float64
volleys               float64
free_kick_accuracy    float64
curve                 float64
short_passing         float64
sprint_speed          float64
jumping               float64
gk_handling           float64
stamina               float64
positioning           float64
dribbling             float64
interceptions         float64
crossing              float64
potential             float64
standing_tackle       float64
marking               float64
long_shots            float64
agility               float64
gk_positioning        float64
overall_rating        float64
heading_accuracy      float64
finishing             float64
long_passing          float64
shot_power            float64
vision                float64
penalties             float64
aggression            float64
dtype: object

,balance,acceleration,reactions,strength,gk_kicking,gk_reflexes,sliding_tackle,ball_control,gk_diving,volleys,...,agility,gk_positioning,overall_rating,heading_accuracy,finishing,long_passing,shot_power,vision,penalties,aggression
0,65.0,60.0,47.0,76.0,10.0,8.0,69.0,49.0,6.0,44.0,...,59.0,8.0,67.0,71.0,44.0,64.0,55.0,54.0,48.0,71.0
1,65.0,60.0,47.0,76.0,10.0,8.0,69.0,49.0,6.0,44.0,...,59.0,8.0,67.0,71.0,44.0,64.0,55.0,54.0,48.0,71.0
2,65.0,60.0,47.0,76.0,10.0,8.0,69.0,49.0,6.0,44.0,...,59.0,8.0,62.0,71.0,44.0,64.0,55.0,54.0,48.0,63.0

In [184]:
column_check = df[numerical_columns].isna().sum()
print(column_check)

balance               2713
acceleration           836
reactions              836
strength               836
gk_kicking             836
gk_reflexes            836
sliding_tackle        2713
ball_control           836
gk_diving              836
volleys               2713
free_kick_accuracy     836
curve                 2713
short_passing          836
sprint_speed           836
jumping               2713
gk_handling            836
stamina                836
positioning            836
dribbling              836
interceptions          836
crossing               836
potential              836
standing_tackle        836
marking                836
long_shots             836
agility               2713
gk_positioning         836
overall_rating         836
heading_accuracy       836
finishing              836
long_passing           836
shot_power             836
vision                2713
penalties              836
aggression             836
dtype: int64

In [185]:
# Confirm that the 836/2713 missing values belong to the same record

column_check = df[numerical_columns].isna().sum()
missing_columns_set1 = list(column_check[column_check == 836].index)
missing_columns_set2 = list(column_check[column_check == 2713].index)

df_set1 = df[missing_columns_set1]
df_set2 = df[missing_columns_set2]

df1_rows_na = df_set1[df_set1.isna().any(axis=1)]
df2_rows_na = df_set2[df_set2.isna().any(axis=1)]

print(len(df1_rows_na))
print(len(df2_rows_na))

836
2713

In [186]:
#Full outer join
rows_to_drop = df1_rows_na.merge(df2_rows_na, left_index = True, right_index=True, how="outer")
print("number of rows to drop is", len(rows_to_drop))

number of rows to drop is 2713

In [187]:
print("initial df length is ", len(df))
# df = df.drop(df1_rows_na.index)
# df = df.drop(df2_rows_na.index)
df = df.drop(rows_to_drop.index)
print("new df length is ", len(df))

#double check
column_check = df[numerical_columns].isna().sum()
print(column_check)

initial df length is  183978
new df length is  181265
balance               0
acceleration          0
reactions             0
strength              0
gk_kicking            0
gk_reflexes           0
sliding_tackle        0
ball_control          0
gk_diving             0
volleys               0
free_kick_accuracy    0
curve                 0
short_passing         0
sprint_speed          0
jumping               0
gk_handling           0
stamina               0
positioning           0
dribbling             0
interceptions         0
crossing              0
potential             0
standing_tackle       0
marking               0
long_shots            0
agility               0
gk_positioning        0
overall_rating        0
heading_accuracy      0
finishing             0
long_passing          0
shot_power            0
vision                0
penalties             0
aggression            0
dtype: int64

In [198]:
print(df['preferred_foot'].value_counts())

right    136953
left      44312
Name: preferred_foot, dtype: int64

## One-hot encode

In [199]:
#one hot encode everything!
def one_hot_encode(df, column_name):
    temp = df.copy()
    df = df.drop(column_name,axis = 1)
    df = df.join(pd.get_dummies(temp[column_name], prefix=column_name))
    return df
# df = one_hot_encode(df, col_name)

In [200]:
for col_name in categorial_columns:
    df = one_hot_encode(df, col_name)

## Final checks and saving

In [201]:
df.isna().sum()

player_fifa_api_id            0
overall_rating                0
potential                     0
crossing                      0
finishing                     0
heading_accuracy              0
short_passing                 0
volleys                       0
dribbling                     0
curve                         0
free_kick_accuracy            0
long_passing                  0
ball_control                  0
acceleration                  0
sprint_speed                  0
agility                       0
reactions                     0
balance                       0
shot_power                    0
jumping                       0
stamina                       0
strength                      0
long_shots                    0
aggression                    0
interceptions                 0
positioning                   0
vision                        0
penalties                     0
marking                       0
standing_tackle               0
sliding_tackle                0
gk_diving                     0
gk_handling                   0
gk_kicking                    0
gk_positioning                0
gk_reflexes                   0
preferred_foot_left           0
preferred_foot_right          0
attacking_work_rate_high      0
attacking_work_rate_low       0
attacking_work_rate_medium    0
defensive_work_rate_high      0
defensive_work_rate_low       0
defensive_work_rate_medium    0
dtype: int64

In [202]:
df.dtypes

player_fifa_api_id              int64
overall_rating                float64
potential                     float64
crossing                      float64
finishing                     float64
heading_accuracy              float64
short_passing                 float64
volleys                       float64
dribbling                     float64
curve                         float64
free_kick_accuracy            float64
long_passing                  float64
ball_control                  float64
acceleration                  float64
sprint_speed                  float64
agility                       float64
reactions                     float64
balance                       float64
shot_power                    float64
jumping                       float64
stamina                       float64
strength                      float64
long_shots                    float64
aggression                    float64
interceptions                 float64
positioning                   float64
vision                        float64
penalties                     float64
marking                       float64
standing_tackle               float64
sliding_tackle                float64
gk_diving                     float64
gk_handling                   float64
gk_kicking                    float64
gk_positioning                float64
gk_reflexes                   float64
preferred_foot_left             uint8
preferred_foot_right            uint8
attacking_work_rate_high        uint8
attacking_work_rate_low         uint8
attacking_work_rate_medium      uint8
defensive_work_rate_high        uint8
defensive_work_rate_low         uint8
defensive_work_rate_medium      uint8
dtype: object

In [204]:
csv_path = "cleaned_soccer_data_v1.csv"
df.to_csv(csv_path)

## Testing

In [ ]:
# #Find KNN for replacement
# def replaceNA(df, cat_name):

#     numerical_df = df.drop(columns=['player_fifa_api_id', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate'])
#     print(numerical_df.isna().sum())
# #         knn = NearestNeighbors(n_neighbors=5)
# #     knn.fit(df.drop(columns=['player_fifa_api_id', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate']))
# #     knn.kneighbors(X[0], return_distance=False)

# replaceNA(df, 'attacking_work_rate')

In [71]:
df_test = pd.DataFrame([[1, True, 'dsfasd', 51.314],
                   [51, False, '56345', 56.1234]],
                  columns=['col1', 'col2', 'col3', 'col4'])

res = df_test.dtypes

print(res)

col1      int64
col2       bool
col3     object
col4    float64
dtype: object